table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    border: 1px solid #ddd;
  }

  th, td {
    text-align: center;
    padding: 15px;
  }
  
  tr:nth-child(even) {
    background-color: lightgrey;
  }

  .row {
    margin-right: 0px;
    margin-left: 0px;
}