<div class="container-fluid">
    <div class="row">
      <div class="col-6 col-md-4 col-lg-3 mb-4" *ngFor="let book of bookList">
        <div class="card mx-auto text-center">
          <h2 routerLink="/book">{{book.title}}</h2>
          <div class="card-body">
            <a routerLink="/book" class="card-title" (click)="SendData(book.title,book.authors,book.bookshelves,book.subjects)"><span class="fa fa-external-link mr-1"></span>{{book.authors}}</a>
          </div>
        </div>
      </div>
    </div>
</div>