<div class="flex-container">
  <div class="col-md-12">
    <div class="row">
      <img src="../../../assets/gutenberg.png" style="height: 25vh;">
    </div>
      <div class="row">
          <input #advanced type="text" id="Searchbar" placeholder="Search.." ngModel pattern="[a-zA-Z ]*">
      </div>
      <div class="row">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="authors" id="authors" value="authors" (change)="onItemChange('authors')">
          <label class="form-check-label" for="authors">
            Author
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="bookshelves" id="bookshelves" value="bookshelves" (change)="onItemChange('bookshelves')">
          <label class="form-check-label" for="bookshelves">
            Category
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="bookshelves" id="title" value="title" (change)="onItemChange('title')">
          <label class="form-check-label" for="title">
            Title
          </label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="regepx" (change)="RegexpOn(true)">
          <label class="form-check-label" for="regexp">Regexp</label>
        </div>
      </div>
      <div class="row">
        <button routerLink="/bookresult" class="btn btn-primary" (click)="onClick(radiovalue,advanced.value,regexpvalue)">Submit</button>
      </div>
    </div>
</div>