#Searchbar {
    width: 500px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid;
}

.flex-container {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    margin: 10px;
    width: auto;
    align-items: center;
    justify-content: center;    
}

.col-md-12 {
    width: auto;
}

.form-check{
    margin: 10px;
    line-height: 20px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}